<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Awesome App!</title>

    {% include 'html_dependencies.html' %}


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler btn-freo" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/" title="Home">Pricing <span class="sr-only">(current)</span></a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link" href="{{ url_for('stores.index') }}">Stores</a>
                </li>
            </ul>
            {% if session['email'] %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link" href="{{ url_for('users.user_alerts') }}"><i class="far fa-bell"></i> Your Alerts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link" href="{{ url_for('users.logout_user') }}"><i class="fas fa-sign-out-alt"></i> Log out</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link" href="{{ url_for('users.register_user') }}"><i class="fas fa-user-tie"></i> Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link" href="{{ url_for('users.login_user') }}"><i class="fas fa-sign-in-alt"></i> Log in</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>

<div class="content container mt-4">
{% block content %}

{% endblock %}
</div>

</body>
</html>
