{% extends 'base.html' %}
{% block content %}
<div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>Alerts
        <small>showing already existing alerts</small>
    </h1>
</div>
<div class="list-group mt-4 mb-4">
    {% if alerts == [] %}
    <em>You currently have no alerts saved.</em>
    {% else %}
    {% for alert in alerts %}
    <a href="{{ url_for('alerts.get_alert_page', alert_id=alert._id) }}" class="list-group-item list-group-item-action {{ 'list-group-item-warning' if not alert.active else '' }}">
        <h4 class="list-group-item-heading">
            {{ '<i class="far fa-bell-slash"></i>'|safe if not alert.active else '' }} Alert for {{ alert.item.name }}</h4>
        <p class="list-group-item-text">Last price found <strong>{{ alert.item.price }}</strong><br/>
            Last checked on <strong>{{ alert.last_checked.strftime("%d.%m.%Y at %H:%m") }}</strong></p>
    </a>
    {% endfor %}
    {% endif %}
</div>
<a class="btn btn-freo" href="{{ url_for('alerts.create_alert') }}"><i class="fas fa-plus"></i> Create new</a>
{% endblock %}